name: RDP-Linux-Tailscale-Link

on:
  workflow_dispatch:

jobs:
  rdp-linux:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Install Desktop & XRDP
        run: |
          sudo apt update
          sudo apt install -y xfce4 xfce4-goodies xrdp dbus-x11 curl
          sudo systemctl enable xrdp
          sudo systemctl restart xrdp

      - name: Create RDP User
        run: |
          USERNAME=rdpuser
          PASSWORD=Rdp123!

          sudo useradd -m $USERNAME
          echo "$USERNAME:$PASSWORD" | sudo chpasswd
          sudo usermod -aG sudo $USERNAME

          echo "xfce4-session" | sudo tee /home/$USERNAME/.xsession > /dev/null
          sudo chown $USERNAME:$USERNAME /home/$USERNAME/.xsession

          echo "==============================="
          echo "RDP LOGIN"
          echo "Username: $USERNAME"
          echo "Password: $PASSWORD"
          echo "==============================="

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Login Tailscale (LINK)
        run: |
          sudo tailscale up
          echo ""
          echo "⬆⬆⬆ COPY LINK DI ATAS ⬆⬆⬆"
          echo "Login pake browser kamu"
          echo "================================="

      - name: Show Tailscale IP
        run: |
          TS_IP=$(tailscale ip -4)
          echo "================================="
          echo "TAILSCALE IP : $TS_IP"
          echo "PORT         : 3389"
          echo "USERNAME     : rdpuser"
          echo "PASSWORD     : Rdp123!"
          echo "================================="

          sleep 21600
